<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- https://www.bootstrapcdn.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Poke Menu</title>
</head>

<body>
    <h1>Welcome to the PokeMenu</h1>
    <div id="app">
        <h2>Get All Pokemons</h2>
        <button id="getAllButton" v-on:click="getAllPokemons" class="btn btn-primary">Get All Pokemons</button>

        <h2>Get Pokemon By ID</h2>
        <input type="text" v-model="pokemonId" placeholder="Enter Pokemon ID" id="inputSearchById">
        <button id="getByIdButton" v-on:click="getPokemonById(pokemonId)" class="btn btn-primary">Get Pokemon By
            ID</button>
        <div v-if="singlePokemon != null" id="pokemonList">
            <h3>Pokemon ID: {{singlePokemon.pokemonId}}</h3>
            <h3>Name: {{singlePokemon.name}}</h3>
            <h3>Type: {{singlePokemon.type}}</h3>
        </div>
        <div v-else>no pokemon</div>

        <h2>Delete Pokemon</h2>
        <input v-model.number="deleteId" placeholder="pokemonId" type="number" id="inputDelete" />
        <button v-on:click="deletePokemon(deleteId)" class="btn btn-warning" id="deleteButton">Delete</button>
        {{deleteMessage}}

        <h2>Add Pokemon</h2>
        <input v-model="addPokemonData.pokemonId" placeholder="pokemonId" type="number" />
        <input v-model="addPokemonData.name" placeholder="name" type="text" />
        <input v-model.number="addPokemonData.type" placeholder="type" type="text" />
        <button v-on:click="addPokemon()" class="btn btn-success">Add</button>
        <div>{{addMessage}}</div>

        <h2>Update Pokemon</h2>
        <input v-model.number="updatePokemonData.pokemonId" placeholder="Current Pokemon Id" type="number" />
        <input v-model="updatePokemonData.name" placeholder="Name" type="text" />
        <input v-model="updatePokemonData.type" placeholder="Type" type="text" />
        <button @click="updatePokemon()" class="btn btn-success">Update</button>
        <div>{{ updateMessage }}</div>

        <table class="table table-dark" v-if="pokemons.length > 0">
            <thead>
                <tr>
                    <th>Pokemon ID</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="pokemon in pokemons">
                    <td>{{pokemon.pokemonId}}</td>
                    <td>{{pokemon.name}}</td>
                    <td>{{pokemon.type}}</td>
                </tr>
            </tbody>
        </table>
        <div v-else>no pokemons</div>
    </div>

    <script src="index.js"></script>
</body>

</html>